* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Distribuir las columnas */
    grid-template-rows: auto 1fr auto; /* Filas para header, main y footer */
    height: 100%;
}

header {
    padding: 15px;
    background-color: rgb(110, 164, 219);
    color: white;
    grid-column: 1 / 4;
}

aside {
    padding: 15px;
    background-color: rgb(200, 194, 40);
    color: white;
}

.aside-left {
    grid-column: 1 / 2;
}

.aside-right {
    grid-column: 3 / 4;
}

main {
    padding: 15px;
    background-color: rgb(89, 189, 207);
    color: white;
    grid-column: 2 / 3;
}

footer {
    padding: 15px;
    background-color: rgb(110, 164, 219);
    color: white;
    grid-column: 1 / 4;
}
